@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        -webkit-tap-highlight-color: transparent;
    }

    #color-input {
        appearance: none;
        background-color: transparent;
        border: none;
        cursor: pointer;
        width: 100%;
        height: 100%;
    }

    #color-input::-webkit-color-swatch {
        border-radius: 9999px;
        border: none;
    }

    #color-input::-moz-color-swatch {
        border-radius: 6px;
        border: none;
    }    
}